.links {
   padding: 2rem;
   display: flex;
   flex-direction: column;

   &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
   }
   &__container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 5rem;
   }

   &__link {
      position: relative;
      display: flex;
      align-self: center;
      flex-direction: row;
      padding: 1.5rem 3rem;
      gap: 2rem;
      font-size: $default-font-size;
      border-radius: $default-border-radius;
      background-color: $color-grey-dark-3;
      width: 90%;
      box-shadow: $default-box-shadow;

      &:hover {
         top: -0.3rem;
         box-shadow: $hover-box-shadow;
      }

      @include respond(tab-land) {
         padding: 0.5rem 5rem;
         cursor: default;
      }

      @include respond(tab-port) {
         padding: 1.5rem 1rem;
      }
   }

   &__image-container {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      justify-content: flex-start;
      align-items: center;
      align-self: start;

      &--image {
         display: flex;
         align-self: center;
         justify-content: center;
         align-items: center;
         border-radius: 100%;
         height: 12rem;
         width: 12rem;
         background-color: $color-grey-dark-2;
         border: 1px dashed $color-grey-light-1;
         cursor: pointer;
      }
      &--label {
         cursor: pointer;
         height: 12rem;
         width: 12rem;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 100%;
      }
   }
   &__image {
      border-radius: 100%;
      height: 12rem;
      width: 12rem;
      object-fit: cover;
   }
   &__chevron {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      cursor: pointer;
      color: $color-green-main;
   }
   &__group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      @include respond(tab-port) {
         align-self: end;
      }
   }
   &__icon {
      cursor: pointer;
      font-size: 3rem;
      color: $color-grey-dark-1;

      &--remove {
         font-size: 2rem;
         margin-left: 2rem;
         &:hover {
            color: $color-red-main !important;
         }
      }

      &:hover {
         color: $color-green-main;
      }

      &:focus,
      &:active {
         color: $color-grey-dark-1;
      }
   }
   &__interactions {
      width: 100%;
      min-height: 5rem;

      &--open {
         min-height: auto;
         margin-bottom: 2rem;
      }

      &--large {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 3rem;
      }
   }
   &__wrapper {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      font-size: $default-font-size;
      align-items: center;

      @include respond(tab-land) {
         padding: 0.5rem 0rem;
         width: 100%;
      }
      @include respond(tab-port) {
         font-size: 1.2rem;
         padding: 0.5rem;
      }
   }
   &__item {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Montserrat', sans-serif;
      color: $color-green-main;

      &--link {
         font-style: italic;
         font-family: 'Montserrat', sans-serif;
         letter-spacing: 0.05rem;
         font-weight: 300;
         font-size: 1.2rem;
         color: $color-grey-light-1;
      }

      @include respond(tab-land) {
         font-size: 2rem;
      }
   }
   &__admin-form {
      width: 100%;
      margin-top: 2rem;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 3rem;

      &--input {
         font-size: inherit;
         padding: 1rem 2rem;
         width: 100%;
      }
   }
   &__checkbox {
      @include checkbox;
      color: $color-grey-light-1;

      & input:checked {
         accent-color: $color-green-main;
      }
   }
}
