.account {
   display: grid;
   grid-template-columns: minmax(auto, 1.4fr) 5fr;
   grid-template-areas: 'sidebar body';
   position: relative;
   min-height: 85vh;
   width: 100%;
   background-color: transparent;
   @include respond(tab-land) {
      grid-template-columns: minmax(auto, 1.8fr) 5fr;
   }
   @include respond(tab-port) {
      grid-template-columns: minmax(auto, 0.4fr) 5fr;
   }

   @include respond(phone) {
      grid-template-columns: minmax(auto, 0.6fr) 5fr;
   }

   &__closed {
      grid-template-columns: 0.2fr 5fr;
   }
   &__closed > &__sidebar {
      padding-right: 1rem;
      width: auto;
   }

   &__sidebar {
      grid-area: sidebar;
      background-color: transparent;
      position: relative;
      width: 100%;
      padding-top: 2rem;

      &--notifications {
         overflow-y: scroll;

         &__wrapper {
            @include readPoint;
         }
         &__title {
            @include notificationsTitle;
            cursor: pointer;
            padding-right: 2rem;
         }
      }

      &--icon {
         font-size: 2rem;

         &__not-open {
            font-size: 3rem;
            @include respond(tab-port) {
               font-size: 2rem;
               padding: 0.5rem 1rem;
            }
            &:hover {
               border-color: $color-primary-tint;
            }

            @include respond(tab-land) {
               &:hover {
                  border-color: transparent;
               }
            }
         }
      }

      &--list {
         display: flex;
         align-items: center;
      }

      &--navigation {
         list-style-type: none;
         padding: 0 3rem;
         @include respond(tab-port) {
            padding: 0 1rem;
         }
         display: flex;
         position: fixed;
         flex-direction: column;
         gap: 2rem;
         max-width: max-content;
         animation: moveInLeft 0.8s forwards;

         &__not-open {
            position: relative;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            margin: 5rem auto 7rem;
            gap: 2rem;
            animation: moveInLeft 0.8s forwards;
            padding-left: 1.5rem;
            @include respond(tab-land) {
               padding-left: 1rem;
            }
            width: max-content;
         }

         &-link__not-open {
            &::after {
               background: none;
            }

            &--active {
               border: 1px solid $color-primary-tint;
               border-radius: $default-border-radius;
            }

            &.read--active {
               border: 1px solid $color-primary-tint;
               border-radius: $default-border-radius;
            }
         }

         &__goback {
            margin-top: 2rem;
            padding: 1rem;
            border-radius: $default-border-radius;
            border: 1px solid transparent;
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            cursor: pointer;
            &:hover {
               border: 1px solid red;
               transition: all 1s ease-in-out;
            }

            &--icon {
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 3rem;
            }

            &.open {
               align-self: self-start;
            }
         }
      }
   }
   &__body {
      grid-area: body;
      background-color: transparent;
      border-left: 1px solid $color-grey-light-4;
   }

   &__open-menu {
      @include openMenu;
      cursor: pointer;
   }

   &__change-password__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 8rem 6rem;
      position: relative;
      &--error {
         color: $color-error;
         font-size: 1.2rem;
      }

      @include respond(phone) {
         margin: 6rem 2rem;
      }

      &--icon {
         @include formIcon;
         position: absolute;
         &__eye {
            right: 0;
            border: 0;
            cursor: pointer;
            color: $color-primary-tint;
         }
      }

      &--input {
         @include defaultBorderlessInput;
      }
      @include webkitAutofill;
   }
}
