.links {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20rem;
   width: 100%;

   &__navlink {
      display: flex;
      position: relative;
      z-index: 5000;
   }
   &__information {
      z-index: 5000;
      font-size: 1.4rem;
      left: -0.5rem;
      cursor: pointer;
      &:hover {
         color: $color-primary-tint;
      }
   }
   &__side-menu {
      background-color: $color-grey-light-1;
      box-shadow: $default-box-shadow;
      display: flex;
      position: fixed;
      left: 0;
      padding: 0 1rem 0 3rem;
      border-radius: 0 1.2rem 1.2rem 0;
      top: 15rem;
      gap: 3rem;
      flex-direction: row;
      z-index: 1999;

      &.open {
         animation: moveInLeft 0.5s ease-in-out;
      }

      &.closed {
         left: -36rem;
         animation: moveOutRight 0.5s ease-in-out;
         @include respond(tab-land) {
            left: -36rem;
            animation: moveOutRight 0.5s ease-in-out;
         }
      }

      &:focus,
      &:active {
         color: $color-grey-dark-4;
      }
   }

   &__icon {
      margin: 0.5rem;
      cursor: pointer !important;
      font-size: 3rem;
      color: $color-grey-dark-4;

      &--remove {
         font-size: 2rem;
         margin-left: 2rem;
         &:hover {
            color: $color-red-main !important;
         }
      }
      &--settings {
         &:hover {
            animation: spin 4s infinite linear;
         }
      }

      &--chevron {
         margin: 0.5;
         margin-right: -1rem;
      }

      &:hover {
         color: $color-primary-tint;
      }

      &:focus,
      &:active {
         color: $color-grey-dark-4;
      }
   }

   &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10rem;
      align-items: center;
      gap: 6rem;
   }

   &__card {
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      border-radius: $default-border-radius;
      min-width: 80%;
      &:hover {
         box-shadow: $hover-box-shadow;
      }

      @include respond(tab-land) {
         max-width: 80%;
         min-width: 80%;
      }
      @include respond(tab-port) {
         max-width: 95%;
         min-width: 95%;
      }

      &--image {
         clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
         border-radius: 0 0 $default-border-radius $default-border-radius;
         bottom: 12rem;
         position: relative;
         margin-bottom: -12rem;
         max-height: 58rem;

         @include respond(phone) {
            bottom: 9rem;
            clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
         }

         &-container {
            display: flex;
         }

         &-no-preview {
            clip-path: none;
            position: absolute;
            top: 12%;
            margin-left: 1rem;
            border-radius: 100%;
            width: 15rem;
            height: 15rem;
            box-shadow: $hover-box-shadow;
            z-index: 600;
            background-color: $color-grey-dark-2;
            border: 1px dashed $color-grey-light-1;

            &--2 {
               position: absolute;
               left: 3rem;
               z-index: 500;
            }
            &--3 {
               position: absolute;
               left: 6rem;
               z-index: 400;
            }

            @include respond(phone) {
               margin-left: 1rem;
               width: 12rem;
               height: 12rem;
               top: 18%;
            }
         }
      }

      &--body {
         padding-top: 1rem;
         box-shadow: $default-box-shadow;
         background-color: $color-grey-light-1;
         min-height: 25rem;
         max-height: 30rem;
         min-width: auto;
         max-width: 100%;
         border-radius: $default-border-radius;
         position: relative;
         display: flex;

         &-no-preview {
            padding-left: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 20rem;
            @include respond(tab-port) {
               padding: 0 0 2rem 25rem;
            }
         }

         @include respond(phone) {
            min-height: 20rem;
            padding-left: 0rem;
         }
      }

      &--description {
         text-align: center;
         font-size: $default-font-size;
      }
   }
}
