.link {
   &__preview {
      display: flex;
      align-items: center;
      left: 3rem;
      top: 3rem;
      gap: 2rem;
      flex-direction: row;
      position: relative;
   }
   &__icon {
      cursor: pointer;
      font-size: 3rem;

      &:hover {
         color: $color-primary-tint;
      }
   }
}

.links {
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   gap: 3rem;
   margin: 4rem auto;

   @include respond(phone) {
      padding: 0 0.5rem;
      gap: 2rem;
   }

   &__loader {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
   }

   &__item {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Montserrat', sans-serif;
      color: $color-primary-tint;

      &--link {
         font-style: italic;
         font-family: 'Montserrat', sans-serif;
         letter-spacing: 0.05rem;
         font-weight: 300;
         font-size: 1rem;
         color: $color-grey-dark-6;
      }

      @include respond(tab-land) {
         font-size: 2rem;
      }
   }
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-size: $default-font-size;
      border-radius: $default-border-radius;
      background-color: $color-grey-light-3;
      width: 80%;
      padding: 0.5rem 10rem;
      cursor: grab;

      border: none;
      box-shadow: $default-box-shadow;

      &:hover {
         top: -0.3rem;
         box-shadow: $hover-box-shadow;
      }

      @include respond(tab-land) {
         padding: 0.5rem 5rem;
         cursor: default;
      }

      @include respond(tab-port) {
         padding: 0.5rem 1rem;
      }
      @include respond(phone) {
         padding: 0.5rem 1rem;
         width: 100%;
      }
   }

   &__title {
      position: relative;

      &--input {
         height: 4rem;
         border-radius: 2rem;
         outline: none;
         border: none;
         font-size: inherit;
         padding: 1rem 2rem;
      }
      &--icon {
         position: absolute;
         right: 2rem;
         top: 2.1rem;
         fill: $color-red-main !important;
         color: $color-red-main !important;

         @include respond(tab-land) {
            font-size: 2rem;
            top: 2.2rem;
         }

         &:hover {
            border: 1px solid $color-red-main !important;
         }
      }
   }

   &__group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      @include respond(tab-port) {
         align-self: end;
      }
   }
   &__wrapper {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      font-size: $default-font-size;
      align-items: center;

      @include respond(tab-land) {
         padding: 0.5rem 0rem;
         width: 100%;
      }
      @include respond(tab-port) {
         font-size: 1.2rem;
         padding: 0.5rem;
      }
   }

   &__icon {
      font-size: 2.5rem;
      fill: $color-red-main !important;
      color: $color-red-main !important;

      &--remove {
         font-size: 2.4rem;
      }

      &:hover {
         border: 1px solid $color-red-main !important;
      }
   }
}
