.login {
   border-radius: $default-border-radius;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -40%);
   width: 50%;
   font-size: $default-font-size;
   box-shadow: $default-box-shadow;
   padding: 2rem;

   @include respond(tab-land) {
      width: 80%;
      transform: translate(-50%, -50%);
   }
   @include respond(phone) {
      width: 100%;
      box-shadow: none;
      transform: translate(-50%, -50%);
   }

   &__form {
      display: flex;
      flex-direction: column;
      position: relative;
      left: 50%;
      width: 100%;
      transform: translate(-50%);
      justify-content: start;
      gap: 1rem;

      & button {
         width: 70%;
         align-self: center;

         @include respond(phone) {
            width: 100%;
         }
      }

      @include respond(tab-land) {
         width: 100%;
         box-shadow: none;
      }

      &--welcome {
         margin: 5rem 0;
      }

      &--icon {
         @include formIcon;
      }

      &--input {
         @include defaultBorderlessInput;
      }
      @include webkitAutofill;

      &--group {
         display: flex;
         width: 100%;
         gap: 2rem;
      }
      &--error {
         color: $color-error;
         font-size: 1.2rem;
      }
      &--forgotPassword {
         align-self: center;
         color: $color-grey-dark-1;
         font-size: 1.2rem;
         text-decoration: none;
         text-align: center;
         border-radius: $default-border-radius;
         padding: 0.5rem 2.5rem;

         &:hover {
            background-color: $color-grey-light-4;
            transition: all 0.5s;
            color: $color-grey-dark-4;
         }
      }
   }
}
