.notifications {
   &__icon {
      border: none;
      position: relative;
      &:hover {
         border: none;
      }

      &.shake {
         animation: shake 0.5s ease-in-out infinite;
         // animation: shake 0.5s ease-in-out infinite, rotate 0.2s linear infinite;
      }
   }
   &__indicator {
      position: absolute;
      top: -0.3rem;
      right: -0.3rem;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 100%;
      background-color: $color-primary-tint;
      color: $color-grey-light-3;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
   }

   &__loader {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__container {
      position: sticky;
      top: 15rem;
      margin: 5rem 0 10rem;
   }

   &__wrapper {
      background-color: $color-grey-light-3;
      border-radius: $default-border-radius;
      margin: 2rem 4rem;
      padding: 1rem;
      min-height: 50rem;

      @include respond(phone) {
         margin: 2rem 1rem;
         padding: 1rem, 0.5rem;
         min-height: 25rem;
      }
   }

   &__message {
      font-size: $default-font-size;
      margin-bottom: 7rem;
   }

   &__created {
      position: absolute;
      right: 10rem;
      bottom: 2rem;
      margin-top: 5rem;
      text-align: right;
      @include respond(phone) {
         right: 4rem;
      }

      &--at {
         font-style: italic;
      }
   }

   &__title {
      padding: 2rem 4rem;
      @include respond(phone) {
         padding: 2rem 0.5rem;
         letter-spacing: 0.2rem;
      }
      @include notificationsTitle;
      text-align: center;
      font-size: 3rem;
      letter-spacing: 0.6rem;
   }
   &__modal {
      position: relative;

      &::before {
         content: '';
         width: 0;
         height: 0;
         border-left: 1.5rem solid transparent;
         border-right: 1.5rem solid transparent;
         border-bottom: 1.5rem solid $color-primary-tint;
         position: absolute;
         top: -0.4rem;
         left: 50%;
         transform: translateX(-50%);
         z-index: 1001;
      }

      &--mark {
         margin: 0.5rem 0;
         cursor: pointer;
         color: $color-grey-light-3;
         z-index: 1002;
         text-decoration: underline;
      }

      &--header {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
      }

      &--clear {
         margin: 0.5rem 0;
         cursor: pointer;
         color: $color-grey-light-3;
         z-index: 1002;
         text-decoration: underline;
      }

      &--empty {
         display: flex;
         justify-content: center;
         font-size: 1.2rem;
         color: $color-grey-light-3;
      }

      &--content {
         background-image: linear-gradient($color-primary-tint, transparent);
         border: none;
         border-radius: $default-border-radius;
         padding: 2rem 1.5rem 2rem 1.5rem;
         width: 30rem;
         @include respond(phone) {
            width: 20rem;
         }
         margin-top: 1rem;
         max-height: 40rem;
         z-index: 1000;
         overflow-y: scroll;
         overflow-x: hidden;
         scroll-behavior: smooth;
         scrollbar-width: none;
         &::-webkit-scrollbar {
            display: none;
         }
         box-shadow: $default-box-shadow;
         position: absolute;
         left: 50%;
         transform: translate(-50%);

         display: flex;
         flex-direction: column;

         gap: 0.5rem;
      }

      &--wrapper {
         background-color: $color-grey-light-1;
         border-radius: $default-border-radius;
         padding: 0.5rem;
         cursor: pointer;
         &::before {
            content: '';
            background-color: $color-primary-shade;
            width: 0.5rem;
            height: 0.5rem;
            position: absolute;
            right: 2rem;
            border-radius: 100%;
         }
         &.read::before {
            background-color: transparent;
         }
      }

      &--title {
         @include notificationsTitle;
      }
      &--message {
         padding-left: 0.2rem;
         font-style: italic;
      }
   }

   &__richtext {
      background-color: $color-white;
      width: 100%;
      font-size: $default-font-size;
      color: $color-black;
      padding: 1rem;
      border-radius: $default-border-radius;
   }
   &__admin {
      padding: 1rem 3rem;

      &--form {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2rem;
      }
      &--error {
         padding-left: 2rem;
         color: $color-error;
         font-size: $default-font-size;
      }

      &--input {
         @include defaultInput;
      }

      &--textarea {
         resize: none;
         @include defaultInput;
         min-height: 24rem !important;
      }

      &--button {
         margin: 5rem 0;
         width: 50%;
      }
   }
}
