.restricted {
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
   &__container {
      border-radius: $default-border-radius;
      box-shadow: $default-box-shadow;
      height: 50%;
      width: 100%;
      padding: 2rem;
      text-align: center;

      @include respond(phone) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 90%;
      }
   }

   &__counter {
      margin-top: 3rem;
      font-size: $default-font-size;
      color: $color-tertiary;

      &--count {
         color: $color-grey-dark-3;
         font-weight: 700;
      }
   }
}
