.signup {
   border-radius: $default-border-radius;
   width: 50%;
   font-size: $default-font-size;
   box-shadow: $default-box-shadow;
   padding: 2rem;
   overflow-y: scroll;
   margin-top: 5rem;

   @include respond(tab-land) {
      width: 80%;
   }
   @include respond(phone) {
      box-shadow: none;
      padding: 0;
      width: 100%;
      margin-bottom: 10rem;
   }

   &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 2rem;

      @include respond(phone) {
         padding: 0rem 1rem;
         position: relative;
      }

      & button {
         width: 70%;
         align-self: center;
         @include respond(phone) {
            margin-top: 2rem;
            width: 80%;
         }
      }

      @include respond(tab-land) {
         overflow-x: hidden;
         align-items: center;
         gap: 1rem;
      }

      &--welcome {
         margin: 3rem;
         @include respond(phone) {
            margin: 3rem 0;
         }
      }

      &--icon {
         @include formIcon;
         &__eye {
            left: 47%;
            @include respond(tab-land) {
               left: 85%;
            }
            @include respond(phone) {
               left: 92%;
            }
            border: 0;
            cursor: pointer;
         }
      }

      &--input {
         @include defaultBorderlessInput;
         padding-right: 0;
      }

      @include webkitAutofill;

      input[type='date']::-webkit-calendar-picker-indicator {
         appearance: none;
         background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" fill="%23ed535b" viewBox="0 0 24 24"><path d="M18.438,4.954H16.5c0-0.346,0-0.691,0-1.036c0-0.124,0-0.248,0-0.372c0-0.262-0.23-0.512-0.5-0.5 c-0.271,0.012-0.5,0.22-0.5,0.5c0,0.469,0,0.939,0,1.408h-7c0-0.346,0-0.691,0-1.036c0-0.124,0-0.248,0-0.372 c0-0.262-0.23-0.512-0.5-0.5c-0.271,0.012-0.5,0.22-0.5,0.5c0,0.469,0,0.939,0,1.408H5.562c-1.378,0-2.5,1.122-2.5,2.5v11 c0,1.379,1.122,2.5,2.5,2.5h12.875c1.379,0,2.5-1.121,2.5-2.5v-11C20.938,6.076,19.816,4.954,18.438,4.954z M5.562,5.954H7.5 c0,0.073,0,0.147,0,0.22c0,0.124,0,0.248,0,0.372c0,0.262,0.23,0.512,0.5,0.5c0.271-0.012,0.5-0.22,0.5-0.5 c0-0.197,0-0.394,0-0.592h7c0,0.073,0,0.147,0,0.22c0,0.124,0,0.248,0,0.372c0,0.262,0.23,0.512,0.5,0.5c0.271-0.012,0.5-0.22,0.5-0.5 c0-0.197,0-0.394,0-0.592h1.937c0.827,0,1.5,0.673,1.5,1.5v1.584H4.062V7.454C4.062,6.627,4.735,5.954,5.562,5.954z M18.438,19.954 H5.562c-0.827,0-1.5-0.673-1.5-1.5v-8.416h15.875v8.416C19.938,19.281,19.265,19.954,18.438,19.954z"/></svg>');
         background-size: 3rem;
         background-position: right center;
         background-repeat: no-repeat;
         padding-right: 3.5rem;
      }

      &--country {
         margin-bottom: 2.5rem;
         width: 100%;
      }

      &--group {
         display: flex;
         width: 100%;
         align-items: center;
         gap: 6rem;

         &__date {
            @include respond(tab-land) {
               flex-direction: row !important;
            }

            @include respond(tab-port) {
               flex-direction: column !important;
               gap: 1rem;
            }
         }

         @include respond(tab-port) {
            flex-direction: column !important;
            gap: 1rem;
         }
      }
      &--error {
         color: $color-error;
         font-size: 1.2rem;
      }
   }
}
