$color-black: #000000;
$color-white: #ffffff;

$color-success: #57f287;
$color-error: #ed4245;

$color-red-main: #ed535b;
$color-green-main: #8debcf;

$color-grey-light-1: var(--color-grey-light-1);
$color-grey-light-2: var(--color-grey-light-2);
$color-grey-light-3: var(--color-grey-light-3);
$color-grey-light-4: var(--color-grey-light-4);
$color-grey-light-5: var(--color-grey-light-5);
$color-grey-light-6: var(--color-grey-light-6);

$color-grey-dark-1: var(--color-grey-dark-1);
$color-grey-dark-2: var(--color-grey-dark-2);
$color-grey-dark-3: var(--color-grey-dark-3);
$color-grey-dark-4: var(--color-grey-dark-4);
$color-grey-dark-5: var(--color-grey-dark-5);
$color-grey-dark-6: var(--color-grey-dark-6);

$color-primary: var(--color-primary);
$color-primary-tint: var(--color-primary-tint);
$color-primary-shade: var(--color-primary-shade);

$color-secondary: var(--color-secondary);
$color-secondary-tint: var(--color-secondary-tint);
$color-secondary-shade: var(--color-secondary-shade);

$color-tertiary: var(--color-tertiary);

$default-font-size: 1.6rem;
$default-border-radius: 0.8rem;

$color-hover-box-shadow: var(--color-hover-box-shadow);

$default-box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
$hover-box-shadow: 0 0.5rem 2rem $color-hover-box-shadow !important;

.dark-mode {
   --color-grey-dark-6: #eeeeee;
   --color-grey-dark-5: #e9e9e9;
   --color-grey-dark-4: #e6e6e6;
   --color-grey-dark-3: #cfcfcf;
   --color-grey-dark-2: #b8b8b8;
   --color-grey-dark-1: #a1a1a1;

   --color-grey-light-6: #6d6d6d;
   --color-grey-light-5: #585858;
   --color-grey-light-4: #434343;
   --color-grey-light-3: #2e2e2e;
   --color-grey-light-2: #292929;
   --color-grey-light-1: #252525;

   --color-secondary: #e50914;
   --color-secondary-tint: rgb(237, 83, 91);
   --color-secondary-shade: #a0060e;

   --color-primary: #8debcf;
   --color-primary-tint: rgb(192, 244, 229);
   --color-primary-shade: #80e9ca;

   --color-tertiary: #afa1bd;

   --color-hover-box-shadow: #c0f4e533;
}

.light-mode {
   --color-grey-light-1: #eeeeee;
   --color-grey-light-2: #e9e9e9;
   --color-grey-light-3: #e6e6e6;
   --color-grey-light-4: #cfcfcf;
   --color-grey-light-5: #b8b8b8;
   --color-grey-light-6: #a1a1a1;

   --color-grey-dark-1: #6d6d6d;
   --color-grey-dark-2: #585858;
   --color-grey-dark-3: #434343;
   --color-grey-dark-4: #2e2e2e;
   --color-grey-dark-5: #292929;
   --color-grey-dark-6: #252525;

   --color-primary: #e50914;
   --color-primary-tint: rgb(237, 83, 91);
   --color-primary-shade: #a0060e;

   --color-hover-box-shadow: #ed535b33;

   --color-secondary: #8debcf;
   --color-secondary-tint: rgb(192, 244, 229);
   --color-secondary-shade: #80e9ca;

   --color-tertiary: #36135a;
}
