.btn {
   &,
   &:link,
   &:visited {
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 6rem;
      display: inline-block;
      border-radius: $default-border-radius;
      font-size: $default-font-size;
      transition: all 200ms;
      border: none;
      cursor: pointer;
      font-weight: 700;
   }
   &:hover {
      transform: translateY(-0.3rem);
      box-shadow: $default-box-shadow;

      &::after {
         transform: scaleX(1.4) scaleY(1.6);
         opacity: 0;
      }
   }
   &:active,
   &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: $default-box-shadow;
   }
   &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: $default-border-radius;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 400ms;
   }

   &--primary {
      background-color: $color-primary-tint;
      color: $color-grey-light-3;

      &::after {
         background-color: $color-primary-tint;
      }
   }
   &--secondary {
      font-size: 1.2rem;
      text-transform: none;
      background-color: transparent;
      color: currentColor;

      &::after {
         background-color: $color-grey-light-2;
      }
   }

   &--tertiary {
      background-image: linear-gradient(to right, $color-primary-tint, $color-tertiary 100%);
      color: $color-grey-light-1;
      &::after {
         background-image: linear-gradient(to right, $color-primary-tint, $color-tertiary);
      }
   }
   &--paginator {
      padding: 1rem;
      border-radius: 100%;
      font-size: 1.8rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary-tint;
   }
   &--conic-border {
      position: relative;
      border-radius: $default-border-radius;
      color: $color-grey-light-1;

      &::before,
      &::after {
         border-radius: $default-border-radius + 2rem;
         content: '';
         position: absolute;
         left: -2px;
         top: -2px;
         background: linear-gradient(45deg, $color-tertiary, $color-primary-tint, $color-tertiary);
         background-size: 400%;
         width: calc(100% + 4px);
         height: calc(100% + 4px);
         z-index: -1;
         animation: steam 20s linear infinite;
      }
   }
}
@property --border-angle {
   syntax: '<angle>';
   inherits: true;
   initial-value: 0turn;
}

.btn-icon {
   background: none;
   font-size: 2rem;
   display: inline-flex;
   padding: 0.6rem;
   justify-content: center;
   border-radius: $default-border-radius;

   border: 1px solid transparent;
   transition: all 1s;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   cursor: pointer;
   color: $color-grey-dark-3;

   @include respond(tab-land) {
      font-size: 3rem;
   }

   &:hover {
      border: 1px solid $color-grey-dark-4;
      border-radius: $default-border-radius;
   }
}

.icon {
   color: $color-grey-light-1;
}
