.forgot-password {
   border-radius: $default-border-radius;
   width: 50%;
   font-size: $default-font-size;
   box-shadow: $default-box-shadow;
   padding: 2rem;
   margin-top: 5rem;

   &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 8rem 6rem;

      &--icon {
         @include formIcon;
      }

      &--input {
         @include defaultBorderlessInput;
      }
      @include webkitAutofill;
   }
}
