.paginator {
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   gap: 25rem;
   bottom: 1rem;
   margin: 10rem 0;
   &__back {
      display: flex;
      gap: 1rem;
   }
   &__forward {
      display: flex;
      gap: 1rem;
   }
   &__icon {
      color: $color-grey-light-4;
   }
}
