.overlay {
   z-index: 2000;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(1rem);
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.sharemodal {
   z-index: 2001;
   padding: 2rem;
   border-radius: $default-border-radius;
   width: 60vw;
   height: 60vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   background-color: $color-grey-light-1;
   border-radius: $default-border-radius;
   box-shadow: $default-box-shadow;

   @include respond(tab-port) {
      height: 50vh;
      width: 70vw;
   }
   @include respond(phone) {
      height: 100vh;
      width: 100%;
      border-radius: 0;
   }
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      width: 70%;
      height: 70%;

      @include respond(phone) {
         width: 100%;
         height: 60vh;
      }

      &__wrapper {
         align-self: center;
         display: flex;
         gap: 3rem;
         @include respond(phone) {
            gap: 2rem;
         }
      }

      &__link {
         padding: 1rem;
         background-color: $color-grey-light-4;
         font-size: 1.4rem;
         border-radius: $default-border-radius;
         box-shadow: $default-box-shadow;
         display: flex;
         align-items: center;
         justify-content: space-between;

         &.copied {
            color: $color-primary-tint;
            background-color: $color-grey-light-6;
         }

         &--button {
            &:hover {
               color: $color-primary-tint;
            }
         }
         &--copied {
            color: $color-primary-tint;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: normal;
            font-style: italic;
         }
      }
   }
}

.close {
   position: absolute;
   right: 4rem;
   top: 3rem;
   cursor: pointer;
   font-size: $default-font-size;
   color: $color-grey-dark-1;

   @include respond(phone) {
      right: 2rem;
      top: 3rem;
   }
   &:hover {
      color: $color-primary-tint;
   }
   &--dark {
      &:hover {
         color: $color-grey-dark !important;
      }
   }
}
