.share-links {
   margin: 2rem;
   display: flex;

   &__input {
      @include defaultInput;
   }
   &__icon {
      position: absolute;
      right: 3rem;
      top: 2.7rem;
      @include respond(tab-land) {
         top: 2.5rem;
      }
      fill: $color-red-main !important;
      color: $color-red-main !important;

      &:hover {
         border: 1px solid $color-red-main !important;
      }
   }
   &__loader {
      color: $color-primary-tint;
      height: 0.5rem;
   }
   &__error {
      color: $color-error;
      margin: 0.5rem 1.5rem;
   }
}
