.upload-image {
   border-radius: 100%;
   width: 10rem;
   height: 10rem;
   border: 1px dashed $color-grey-dark-3;
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: center;
   cursor: pointer;
   margin-bottom: 2rem;

   &__container {
      display: flex;
      align-items: center !important;
      justify-content: center;
   }
   &__image {
      // width: 100%;
      border-radius: 100%;
      min-width: 12rem !important;
      height: 12rem !important;
      object-fit: cover;
   }
}
