$color-black: #000000;
$color-white: #ffffff;

$color-grey-dark-3: #2e2e2e;
$color-grey-dark-2: #2c2c2c;
$color-grey-dark-1: #585858;
$color-grey-light-1: #b8b8b8;
$color-grey-light-2: #ebebeb;

$color-success: #57f287;
$color-error: #ed4245;

$color-red-main: rgb(237, 83, 91);
$color-green-main: rgb(192, 244, 229);

$color-purple: #afa1bd;

$default-font-size: 1.6rem;
$default-border-radius: 0.8rem;

$color-hover-box-shadow: var(--color-hover-box-shadow);

$default-box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
$hover-box-shadow: 0 0.5rem 2rem $color-hover-box-shadow !important;
