.header-nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1rem 4rem;
   border-bottom: 1px solid $color-green-main;

   &__list {
      display: flex;
      gap: 1rem;
      list-style-type: none;
      gap: 3rem;
      align-items: center;
   }
   &__item {
      text-decoration: none;
      font-size: $default-font-size;
      text-transform: uppercase;
      color: $color-grey-light;
      overflow: hidden;
      position: relative;
      display: flex;
      gap: 0.5rem;

      &:not(.header-nav__item--active):hover::after {
         transform: scaleX(1);
      }

      &--active {
         color: $color-green-main;
         border-bottom: 1px solid $color-green-main;
      }
   }
}
